.sub-header{
  color: $brand-color;
}

#footer-para{
  box-shadow: $box-shadow;
}

.body{
  margin-left: 0;
}

nav{
  h1{
    margin-left: 100px;
  }

  p{
    float: left;
    margin-left: 50px;
  }
}

